<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stripe Payment</title>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gradient-to-r from-indigo-500 to-blue-500 min-h-screen flex items-center justify-center">


    <div class="bg-white p-10 rounded-lg shadow-2xl w-full max-w-md mx-auto text-center">
        <h1 class="text-4xl font-bold text-gray-800 mb-6">Secure Checkout</h1>
        <p class="text-gray-600 mb-6">Complete your purchase in just a few steps. Click below to proceed with payment.</p>

        
        <button id="checkout-button" class="bg-blue-600 text-white px-6 py-3 rounded-lg shadow-md hover:bg-blue-700 transition duration-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
            Pay Now
        </button>
    </div>

    <script type="text/javascript">
        var stripe = Stripe('pk_test_51QV6ZtIqpMVb5nWenzdEG2jpLAF9KuRngPXgiX09m07cVDoGxLVmKnocHZuLSaW7gfOwiw1N3VJ77CtNzZUaqIko00n2xNTnsh');  // Use your public key here

        var checkoutButton = document.getElementById('checkout-button');

        checkoutButton.addEventListener('click', function () {
            fetch('http://127.0.0.1:8000/payment/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'  
                },
                body: JSON.stringify({}) 
            })
            .then(function (response) {
                return response.json();
            })
            .then(function (sessionId) {
                console.log(sessionId)
                return stripe.redirectToCheckout({ sessionId: sessionId.id });
            })
            .then(function (result) {
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
        });
    </script>
</body>
</html>


